@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* Navigation Bar */

.nav-bar {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    height: 55px;
    /* box-shadow: #0000003d 0px 3px 8px; */
    text-align: center;
    padding: 10px;
    gap: 10px;
    width: clamp(300px, 100%, 1400px);
    margin: auto;

}

.nav-bar img {
    height: 50px;
}

.nav-left {
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
}

.nav-left a {
    text-decoration: none;
    color: #000000;
}

.nav-center {
    flex-grow: 1;
}

.nav-right {
    width: 300px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
}

.nav-right a {
    text-decoration: none;
    color: #000000;
}

/* hero */

.hero {
    background-image: url(./Images/hero.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 12px;
    padding: 0 10px;
}

.hero-head {
   width: clamp(300px, 100%, 1400px);
    text-align: center;
}

.hero-para {

    width: clamp(300px, 100%, 550px);

    text-align: center;
}

.hero-btn {
    padding: 10px 35px;
}

/* Small Div */

.small-div {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30 0 20 0;
}

.small-div-h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.discover-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: clamp(300px, 100%, 1400px);
    margin: auto;
    column-gap: 10px;
    row-gap: 20px;
    padding: 0 10px;
}

.discover-box {
    width: 360px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    gap: 4px;
}


.discover-image {
    height: 225px;
    width: 100%;
    object-fit: cover;
}


.discover-bar {
    display: flex;
    gap: 5px;
    align-items: center;
}

.discover-tag {
    height: 18px;
    width: 18px;
    color: black;
}

.main-content2 p {
    padding: 0 10px;
    font-size: 0.9rem;
}

.discover-shear {
    height: 30px;

    border-radius: 5px;
    background-color: rgb(205, 205, 205);
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 5px;
}

/* Features Box */

.feature-para {
    margin-top: 25px;
    font-size: 0.85rem;
    text-align: center;
}

.features-div {
    text-align: center;
    margin-top: 40px;
}

.feature-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 24px;
    padding: 35px;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    width: clamp(300px, 100%, 1400px);
    margin: auto;

}

.feature-card {
    width: 350px;
}

.feature-card>img {
    width: 100%;
    height: 150px;
}

.feature-card p {
    font-size: 0.9rem;
}

.ben-head {
    display: flex;
    justify-content: center;
    align-items: center;

}

.ben-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40PX 0;
    flex-wrap: wrap;
    padding: 0 12px;

}

.ben-main {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: clamp(300px, 100%, 850px);
    padding: 5px;
    border-radius: 6PX;
}

/* Collection */
.Collections {
    text-align: center;
}

/* .collection-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.collection-items {
    background-image: url(./Images/collection-startup.png);
    height: 150px;
    width: 340px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-items2 {
    background-image: url(./Images/collection-startup1.png);
    height: 150px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collection-items span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;
}

.collection-items2 span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bolder;

} */

.col-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

.col-container>div {
    height: 150px;
    width: 360px;
    overflow: hidden;
    position: relative;
}

.col-container>div>img {
    width: 100%;
    height: 100%;
}

.col-container>div>span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* clipMine */
.clip {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.clipmine-space {
    background: rgb(169, 169, 169);
    padding: 40px 10px;

}

.clipmine {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: clamp(300px, 100%, 1400px);
    margin: auto;
    column-gap: 10px;
    row-gap: 20px;

}

.clip-cards {
    height: 150px;
}



/* Input */
.input-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 35px;
    width: clamp (300px, 100%, 1400px);
    text-align: center;
}

.input-card {
    display: flex;
    justify-content: center;
    width: clamp(300px, 100%, 1400px);


}

.input-btn {
    padding: 10px 20px;
    height: 40px;
    width: 340px;
}

.input-btn-button {
    background-color: #9932cc;
}

/* Supported Platforms */
.Platforms {
    text-align: center;
    width: clamp(300px, 100%, 1400px);
    margin: auto;
        
}

.Platform-Containers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: clamp(300px, 100%, 1400px);
    margin: auto;

}

footer {
    background-color: #000000;
    color: #ffffff;
}
.footertop, .footer-lower{
    width: clamp(300px, 100%, 1400px);
    margin: auto;

}
.footertop>ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}

.footer-lower>ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    gap: 2px;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
}



@media (width <=700px) {
    .nav-bar {
        display: none;
    }
}

@media (width > 700px) {
    .sidebar-header {
        display: none;
    }
}

@media (width <=600px) {
    .ben-main {
        flex-direction: column;
        text-align: center;
    }
}